docker_swarm_volume_backend: rbd # rbd OR fs
docker_swarm_volume_plugin: centralesupelec/mydockervolume:latest
cephfs_plugin: brindster/docker-plugin-cephfs
docker_swarm_volume_upgrade: false
docker_swarm_port: 2377
docker_swarm_seccomp_folder: /opt/docker-seccomp
docker_swarm_seccomp_override: false
docker_swarm_subnet: 10.0.0.0/8
docker_swarm_unpublish_services: false # if "true" and network editing fails, you will have to manually republish service ports. If false and there are existing services, network editing is not attempted.
docker_swarm_subnet_gateway: ~
ceph_user: ~
ceph_ips: ~
env: ~
ceph_pool: mydocker-{{ env }}
# gpu_type: ~
# owner: ~
registry_address: ~
registry_username: ~
registry_password: ~
caddy_overlay_network: caddy-overlay
caddy_cert_file_source_path: "{{ undef(hint='caddy_cert_file_source_path must be defined') }}"
caddy_key_file_source_path: "{{ undef(hint='caddy_key_file_source_path must be defined') }}"
caddy_cert_file_target_path: /etc/ssl/caddy_reverse_proxy/cert.pem
caddy_key_file_target_path: /etc/ssl/caddy_reverse_proxy/key.pem
caddy_overlay_network_subnet: 192.168.0.0/18
caddy_controller_network: caddy-controller
caddy_controller_network_subnet: 192.168.64.0/25
caddy_polling_interval: 5s
caddy_event_throttle_interval: 1m
caddy_process_caddyfile: false
caddy_lock_update: false
caddy_monitor_events: true
proxy_aristote_dispatcher: ~
aristote_dispatcher_tls_internal: ~
aristote_dispatcher_url: ~
aristote_dispatcher_token: ~
aristote_dispatcher_alias: ~
caddy_docker_proxy_image: "lucaslorentz/caddy-docker-proxy:2.9.2-alpine"
