---
- name: Create releases directory
  ansible.builtin.file:
    path: /opt/thuv/releases/docker_api/{{ docker_api_version | mandatory }}/
    state: directory
    owner: "{{ ansible_user }}"
    mode: u=rwx,g=rx,o=rx
  become: true

- name: Fetch docker_api
  ansible.builtin.get_url:
    url: "https://github.com/CentraleSupelec/mydocker/releases/download/docker-api-{{ docker_api_version }}/artifacts.zip"
    dest: /opt/thuv/releases/docker_api/{{ docker_api_version }}/build.zip

- name: Extract docker_api
  ansible.builtin.unarchive:
    src: /opt/thuv/releases/docker_api/{{ docker_api_version }}/build.zip
    dest: /opt/thuv/releases/docker_api/{{ docker_api_version }}/
    remote_src: true
  become: true

- name: Add docker API systemd service
  ansible.builtin.template:
    src: thuv-docker.service.j2
    dest: /lib/systemd/system/thuv-docker.service
  become: true
  register: systemd_unit

- name: Force systemd to reread configs
  ansible.builtin.systemd:
    daemon_reload: true
  become: true
  when: systemd_unit.changed

- name: Create thuv API directory
  ansible.builtin.file:
    path: "{{ web_docker_api_location }}"
    state: directory
  become: true

- name: Ensure correct permissions
  ansible.builtin.file:
    path: /opt/thuv/releases/docker_api/{{ docker_api_version }}/docker-api/docker-api
    owner: root
    group: root
    mode: "u=rx,g=rx,o=r"
  become: true

- name: Deploy docker API
  ansible.builtin.file:
    src: /opt/thuv/releases/docker_api/{{ docker_api_version }}/docker-api/docker-api
    dest: "{{ web_docker_api_location }}docker-api"
    state: link
    mode: u=rx,g=rx,o=rx
  become: true

- name: Create thuv back config directory
  ansible.builtin.file:
    path: "/etc/docker-api/"
    state: directory
  become: true

- name: Add docker API config file
  ansible.builtin.template:
    src: config.yml.j2
    dest: "/etc/docker-api/config.yml"
  become: true

- name: Add public certificate for grpc
  ansible.builtin.template:
    src: variable.j2
    dest: "/etc/docker-api/server.cert"
    mode: 0600
  vars:
    variable: "{{ grpc_server_cert }}"
  become: true

- name: Add private key for grpc
  ansible.builtin.template:
    src: variable.j2
    dest: "/etc/docker-api/server.key"
    mode: 0600
  vars:
    variable: "{{ grpc_server_key }}"
  become: true

- name: Add CA certificate that signed the client certificate
  ansible.builtin.template:
    src: variable.j2
    dest: "/etc/docker-api/ca.cert"
    mode: 0600
  vars:
    variable: "{{ grpc_ca }}"
  become: true

- name: Restart service Thuv docker API
  ansible.builtin.systemd:
    state: restarted
    name: thuv-docker
  become: true

- name: Pull rsync image
  community.docker.docker_image_pull:
    name: instrumentisto/rsync-ssh:latest
