Port: 50000
Worker: 30
PortThreshold: 75
PortSize: 150
PortMin: 10100
PortMax: 15000
DefaultNanoCPUsLimit: 2000000000
DefaultMemoryBytesLimit: 1070000000
BuildRegistryAddress: {{ registry_address }}
BuildImage: "{{ build_image }}"
BuildImageRepository: "{{ build_image_repository }}"
RegistryCredentials:
{% for registry in authenticated_registries %}
  - Address: "{{ registry.address }}"
    Username: "{{ registry.username }}"
    Password:  "{{ registry.password }}"
{% endfor %}
LogLevel: "{{ golang_log_level }}"
CephFSPrefix: "{{ env }}"
CephCluster: "ceph"
KeyringUser: "client.{{ ceph_user }}"
CephPool: "{{ ceph_pool }}"
CephServiceName: "{{ ceph_service_name }}"
AdminImage: "{{ admin_image }}"
DeployImage: "{{ deploy_image }}"
Environment: "{{ env }}"
AutoscalingStateBaseUrl: "{{ autoscaling_state_base_url }}"
ScaleUpInterval: "{{ scale_up_interval }}"
ScaleUpCooldown: "{{ scale_up_cooldown }}"
ScaleDownInterval: "{{ scale_down_interval }}"
EmailUsername: "{{ smtp_username }}"
EmailPassword: "{{ smtp_password }}"
EmailServer: "{{ smtp_server }}"
EmailPort: {{ smtp_port }}
EmailFrom: "{{ smtp_from }}"
EmailTo:
{% for email in smtp_to %}
  - {{ email }}
{% endfor %}
LogsTimeout: "500ms"
ScaleDownRemoveNonEmpty: {{ scale_down_remove_non_empty | to_json }}
DeployEnvSecrets:
  - "AWS_ACCESS_KEY_ID={{ s3_backend_access_key }}"
  - "AWS_SECRET_ACCESS_KEY={{ s3_backend_secret_key }}"
  - "OVH_CONSUMER_KEY={{ ovh_consumer_key }}"
  - "OVH_APPLICATION_SECRET={{ ovh_application_secret }}"
  - "OS_USERNAME={{ os_username }}"
  - "OS_PASSWORD={{ os_password }}"
PrecreateVolume: {{ precreate_volume | to_json }}
ReverseProxyUrl: {{ reverse_proxy_url }}
CaddyOverlayNetwork: {{ caddy_overlay_network }}
CaddyTlsCertificatePath: {{ caddy_cert_file_target_path }}
CaddyTlsKeyPath: {{ caddy_key_file_target_path }}
