## App Properties
app.jwtSecret = {{ web_jwt_secret }}
app.jwtExpirationInMs = {{ web_jwt_expiration }}
app.cas.rscUrl={{ cas_base_url }}/p3/serviceValidate
app.cas.service=https://{{ public_web_url }}/loginAccept

## Spring DATASOURCE (DataSourceAutoConfiguration & DataSourceProperties)
spring.datasource.url=jdbc:postgresql://localhost:{{ web_pg_port }}/{{web_pg_database}}
spring.datasource.username= {{ web_pg_username }}
spring.datasource.password= {{ web_pg_password }}
spring.datasource.hikari.data-source-properties.stringtype=unspecified

# Shady undocumented exception
spring.jpa.properties.hibernate.temp.use_jdbc_metadata_defaults = false
# The SQL dialect makes Hibernate generate better SQL for the chosen database
spring.jpa.properties.hibernate.dialect = org.hibernate.dialect.PostgreSQLDialect

# Hibernate ddl auto (create, create-drop, validate, update)
spring.jpa.hibernate.ddl-auto = validate
spring.liquibase.change-log=classpath:dbschema/master.xml

## Go API Configuration
go.app.address = {{ go_address }}
go.app.port = 50000
go.debug = {{ web_debug_grpc }}

## Sentry configuration
sentry.dsn = {{ web_sentry_dsn }}
sentry.environment = {{ env }}

context_save_path = {{ web_contexts_save }}
spring.servlet.multipart.max-file-size=1GB
spring.servlet.multipart.max-request-size=1GB

scale-up.terraformStateUrl = {{ terraform_state_url }}
spring.task.scheduling.pool.size=50

spring.mail.host={{ smtp_server }}
spring.mail.port={{ smtp_port }}
spring.mail.username={{ smtp_username }}
spring.mail.password={{ smtp_password }}
spring.mail.properties.mail.smtp.auth={{ smtp_auth }}
spring.mail.properties.mail.smtp.starttls.enable={{ smtp_starttls }}
{% for email in smtp_to %}
notification.mails.to[{{ loop.index0 }}]={{ email }}
{% endfor %}
notification.mails.from={{ smtp_from }}

log4j2.formatMsgNoLookups=true

lti.base-path=https://{{ public_web_url }}/api
lti.private-key-path=file://{{ web_back_config_location }}/private-key.pem
lti.public-key-path=file://{{ web_back_config_location }}/public-key.pem

spring.mustache.prefix=classpath:/templates/
spring.mustache.suffix=.html

deployment_delay_in_milliseconds={{ web_deployment_delay_in_milliseconds }}
deployment_enabled={{ deployment_enabled | to_json }}

{{ web_extra_application_properties }}
