window['MY_DOCKER_APP_CONSTANTS'] = {
    "back_url": "https://{{ public_web_url }}/api/",
    "front_url": "https://{{ public_web_url }}",
    "cas": {
        "login_url": "{{ cas_base_url }}/login",
        "logout_url": "{{ cas_base_url }}/logout",
    }
};
